.show_layout{
  display: flex;
  justify-content: space-between;
}

.show_side{
  height: 100vh;
  width: 150px;
}

.pj_show_list{
  width: calc(100vw - 150px);
  background-color: #DCDCDC;
}

.pj_show{
  width: 100%;
  margin-top: 10px;

}

.pj_show_title{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.task_new_link{
  height: 30px;
  font-weight: bold;
  border: 1px, solid, black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 5px;

}
