.project_index{
  display: flex;
}

/* side_bar */
.side_bar{
  height:100vh;
  width: 300px;
  background-color:#A9A9A9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.chat_gene_box{
  height: 40px;
  width: 200px;
  margin: 20px 0 80px 0;
  border-radius: 5%;
  border:1px, solid, black;
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_gene{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.side_bar_title{
  font-size: 25px;
}

.pj_lists{
  width: calc(100% - 50px);
}

.pj_list{
  padding-top: 10px;
}

.pj_name{
  padding: 3px;
  background-color: #DCDCDC;
}

a{
  text-decoration: none;
  color: black;
}

/* main */

.project_main{
  height: 100vh;
  width: 100vw;
}

.task_gene_box{
  height: 30px;
  width: 100px;
  border:1px solid black;
  text-align: center;
  padding-top:5px;
  justify-content: right;
}

.task_gene{
  font-weight: bold;

}